alphashape==1.3.1
basemap==1.2.2+dev
einops==0.8.0
geopy==2.2.0
joblib==1.2.0
matplotlib==3.5.3
networkx==2.5
numpy==1.24.4
pkbar==0.5
prettytable==3.10.0
requests==2.24.0
scikit_learn==1.5.0
scipy==1.13.1
seaborn==0.11.2
shapely==2.0.4
tensorflow==2.11.0
torch==2.0.0
torch_geometric==2.3.0
torch_spatiotemporal==0.9.4
tsl==2.0
